@font-face {
	font-family: CascadiaCode;
	src: url(CascadiaCode.ttf);
}

h1 {
	text-align: center;
}

body {
	background: rgb(20, 20, 20);
	color: antiquewhite;

	font-family: CascadiaCode;

	user-select: none;
}

button {
	background: rgb(40, 40, 40);
	border: none;
	color: antiquewhite;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 4px;
	width: 420px;
	cursor: pointer;
	transition: background 150ms ease-in-out 50ms;
}

button:hover {
	background: rgb(30, 30, 30);
}

.grid {
	margin: auto;
	width: 70%;
	padding: 10px;
}

/* Buttons */
.auto {
	cursor: auto;
}

.default {
	cursor: default;
}

.none {
	cursor: none;
}

.context-menu {
	cursor: context-menu;
}

.help {
	cursor: help;
}

.pointer {
	cursor: pointer;
}

.progress {
	cursor: progress;
}

.wait {
	cursor: wait;
}

.cell {
	cursor: cell;
}

.crosshair{
	cursor: crosshair;
}

.text {
	cursor: text;
}

.vertical-text {
	cursor: vertical-text;
}

.alias {
	cursor: alias;
}

.copy {
	cursor: copy;
}

.move {
	cursor: move;
}

.no-drop {
	cursor: no-drop;
}

.not-allowed {
	cursor: not-allowed;
}

.all-scroll {
	cursor: all-scroll;
}

.col-resize {
	cursor: col-resize;
}

.row-resize {
	cursor: row-resize;
}

.n-resize {
	cursor: n-resize;
}

.e-resize {
	cursor: e-resize;
}

.s-resize {
	cursor: s-resize;
}

.w-resize {
	cursor: w-resize;
}

.ne-resize {
	cursor: ne-resize;
}

.nw-resize {
	cursor: nw-resize;
}

.se-resize {
	cursor: se-resize;
}

.sw-resize {
	cursor: sw-resize;
}

.ew-resize {
	cursor: ew-resize;
}

.ns-resize {
	cursor: ns-resize;
}

.nesw-resize {
	cursor: nesw-resize;
}

.nwse-resize {
	cursor: nwse-resize;
}

.zoom-in {
	cursor: zoom-in;
}

.zoom-out {
	cursor: zoom-out;
}

.grab {
	cursor: grab;
}

.grabbing {
	cursor: grabbing;
}